# Ignore changes to the Dockerfile when detecting code changes
examples/leptos/Dockerfile

# The Rust version is set by the base image, and we do not want to pull in
# targets used in local development.
rust-toolchain.toml

# Ignore the pre-compiled binaries and cargo aliases used during development
**/.bin/
**/.cargo/

# Ignore the target directory, since it will be cached in a Docker layer anyways
**/target/
